

.movies-wrapper {
    padding: 20px 0px 20px 0px;
}
.movies-title {
    font-size:24px;
    font-weight:700;
    padding: 10px 0;
}

.movies-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.movies-list .spacer {
    flex:none;
    display:block;
    width:37.5px;
}

.movies-list::-webkit-scrollbar {
    display: none;
}


.movies-item {
    margin: 0 3px;
    height:195px;
}



.movie-img {
    margin-top:22.5px;
    margin-bottom:22.5px;
    width:250px;
    height:150px;
}

.movie-img:hover {
    border: 5px solid #E50914;
    box-sizing: border-box;
    transition:
            transform .1s,
            border-color .6s;
    transform: scale(1.3);

}



.movies-wrapper.original .movies-item {
    height:390px;
    margin: 0 28px;
}

.movies-wrapper.original .movie-img {
    margin-top:45.5px;
    width:185px;
    height:300px;
}



.movies-list .movies-item:nth-child(1) {
    margin-left: 37.5px;
}

.movies-list .movies-item:nth-last-child(1) {
   // margin-right: 37.5px;
}
